html {
  font-family: sans-serif;
  background-color: #ffebc5;
}

body {
  margin: 0;
}

header {
  background: purple;
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

section {
  width: 900px;
  margin: auto;
  display: flex;
}

article {
  padding: 10px;
  margin: 10px;
  width: 300px;
  background: #bcbcbc;
}
